.vscode
debugger.md
*.svg
build.js
.gitignore
node_modules
!node_modules/@vscode/codicons/dist/codicon.css
!node_modules/@vscode/codicons/dist/codicon.ttf
!node_modules/@yagisumi/win-output-debug-string/package.json
!node_modules/@yagisumi/win-output-debug-string/lib/**
!node_modules/@yagisumi/win-output-debug-string/build/Release/win_output_debug_string.node
!node_modules/bindings/package.json
!node_modules/bindings/bindings.js
!node_modules/file-uri-to-path/package.json
!node_modules/file-uri-to-path/index.js
src
appunti_formatter
formatter-settings/jquery-3.6.0.slim.js
